@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*============================================================
# Kerjakan sesuai section / halamannya masing-masing
# General
# Navbar / Header
# Blog Section
# Halaman Blog
# About Section
# Halaman About
# Location Section
# Halaman Location
# Halaman Donasi
# Footer
================================================================*/


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

h2 {
    position: relative;
    text-align: center;
}

h2:before {
    content: '';
    position: absolute;
    width: 70%;
    height: 0.5px;
    background-color: #ddd;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
}

h2:after {
    content: '';
    position: absolute;
    width: 30%;
    height: 4px;
    background-color: #35CC33;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

/*--------------------------------------------------------------
# NavBar
--------------------------------------------------------------*/
@media (min-width: 320px) {

    .hamburger {
        cursor: pointer;
    }

    .hamburger svg {
        width: 35px;
    }

    nav.nav-list {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 99999;
    }

    .close {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 9999999;
        cursor: pointer
    }

    .close svg {
        width: 30px;
    }

    .top-menu {
        position: fixed;
        top: 0;
        right: -100vw;
        bottom: 0;
        background-color: #DCFCE7;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        transition: 0.3s;
    }

    a.btn-rounded-full.bg-green {
        color: white;
    }

    a.btn-rounded-full.bg-green:hover {
        color: #35CC33;
    }

    .top-menu ul li {
        list-style-type: none;
        text-align: center;
        position: relative;
    }

    .top-menu ul li a.active:not(.btn-rounded-full) {
        color: #35CC33;
        font-weight: 600;
    }

    .top-menu ul li a:hover:not(.btn-rounded-full) {
        color: #35CC33;
    }

    .top-menu ul li a {
        color: black;
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        line-height: 40px;
    }

    .top-menu .btn-rounded-full {
        margin-top: 15px;
        display: inline-block;
    }

    .btn-rounded-full {
        padding: 3px 30px;
        border-radius: 8px;
    }

    .bg-green {
        background-color: #35CC33;
        transition: 0.3s;
    }

    .bg-green:hover {
        background-color: #DCFCE7;
    }

    img {
        max-width: 100%;
    }

    .logo img {
        width: 120px;
    }
}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    nav.nav-list {
        max-width: 1300px;
        position: fixed;
        background-color: white;
        padding: 7px 60px 0;
        align-items: center;
    }

    .hamburger {
        display: none;
    }

    .top-menu {
        position: relative;
        right: 0;
        width: auto;
        background-color: transparent;
        display: inline-flex;
        align-items: center;
    }

    .top-menu ul li {
        display: inline-block;
        margin: 0 0 0 55px;
    }

    .close {
        display: none;
    }

    a.btn-rounded-full.bg-green {
        margin: 0;
        margin-left: 10px;
    }
}

@media (min-width: 1200px) {
    header.navbar-container {
        margin-bottom: 80px;
    }

    .logo img {
        width: 140px;
    }

    .top-menu ul {
        align-items: center;
        display: inline-flex;
    }

    a.btn-rounded-full.bg-green {
        margin: 0;
        margin-left: 10px;
    }
    
}


/*--------------------------------------------------------------
# Artikel Terbaru / Blog Section
--------------------------------------------------------------*/
@media (min-width: 320px) {
    #blog {
        padding: 50px 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 45px;
    }

    h2 {
        position: relative;
        text-align: center;
    }

    h2:before {
        content: '';
        position: absolute;
        width: 70%;
        height: 0.5px;
        background-color: #ddd;
        bottom: -3px;
        left: 50%;
        transform: translateX(-50%);
    }

    h2:after {
        content: '';
        position: absolute;
        width: 30%;
        height: 4px;
        background-color: #35CC33;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
    }

    .blog-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .card-blog {
        flex: 1 1 calc(100% - 30px);
        border: 1px solid #ddd;
        box-sizing: border-box;
        border-radius: 20px;
        overflow: hidden;
        transition: transform 0.9s ease-out;
    }

    .card-blog article {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .post-description {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 20px;
    }

    .post-title {
        font-size: 1.2em;
        margin-bottom: 0.8em;
        flex-grow: 1;
        color: #2BA429;
    }

    .card-blog:hover .post-title {
        color: #35CC33;
    }

    .post-date {
        font-size: 0.9em;
        color: #888;
        margin-bottom: 0.8em;
    }

    .readmore {
        margin-top: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;
        color: #35CC33;
    }


    .card-blog:hover .readmore {
        color: #2BA429;
    }

    .post-box {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .post-img {
        width: 100%;
        height: 220px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .post-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
    }

    .read-more {
        padding: 12px 30px;
        border: 2px solid #35CC33;
        background-color: white;
        color: #35CC33;
        text-decoration: none;
        font-weight: 500;
        transition: 0.3s;
    }

    .read-more:hover {
        background-color: #35CC33;
        color: white;
    }

    .read-more a {
        text-decoration: none;
        color: green;
        font-weight: 600;
    }
}

@media (min-width: 768px) {
    .card-blog {
        flex: 1 1 calc(33.333% - 30px);
        display: flex;
        flex-direction: column;
        border: 1px solid #ddd;
        box-sizing: border-box;
        border-radius: 20px;
        overflow: hidden;
        cursor: pointer;
        transition: 0.3s;
    }

    .card-blog:hover .post-img img {
        transform: scale(1.2);
    }
}

/*--------------------------------------------------------------
# Halaman Blog
--------------------------------------------------------------*/
/* .blog-header {
    height: 50px;
    padding: 30px;
    background-color: #DCFCE7;
    align-items: center;
    display: flex;
    justify-content: center;
}

.blog-header h2 {
    width: fit-content;
} */

.blog-header {
    padding: 30px 60px;
    background-color: gainsboro;
}

#blog-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px 80px;
}

#article-list {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    width: calc(100% - 50px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 20px 0 0 20px;
    outline: none;
}

.search-bar button {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #35CC33;
    color: white;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #2BA429;
}

.recent-posts {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.recent-posts h3 {
    margin-bottom: 15px;
    color: #35CC33;
}

.recent-posts ul {
    list-style: none;
}

.recent-posts ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.recent-posts ul li a {
    display: flex;
    align-items: center;
    color: #2BA429;
    font-weight: 500;
}

.recent-posts ul li a:hover {
    color: #35CC33;
}

.recent-posts ul li img {
    margin-right: 10px;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

/* Blog Cards */
.blog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card-blog {
    flex: 0 0 calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
}

.card-blog:hover .post-img img {
    transform: scale(1.2);
}

.post-img {
    width: 100%;
    height: 220px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.post-description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.post-date {
    font-size: 0.9em;
    color: #888;
    margin-bottom: 0.8em;
}

.post-title {
    font-size: 1.2em;
    margin-bottom: 0.8em;
    flex-grow: 1;
    color: #2BA429;
}

.card-blog:hover .post-title {
    color: #35CC33;
}

.post-excerpt {
    margin-bottom: 1.2em;
    color: #555;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    list-style: none;
}

.pagination a {
    color: #35CC33;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 5px;
    margin: 0 5px;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #35CC33;
    color: white;
    border: 1px solid #35CC33;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/* Responsive Design */
@media (max-width: 768px) {
    #blog-container {
        flex-direction: column;
    }

    .card-blog {
        flex: 1 1 100%;
    }
}


/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
@media (min-width: 320px) {
    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 40px;
    }

    .container-about {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 40px;
        align-items: center;
        justify-content: center;
    }

    .btn-about {
        padding: 10px 20px;
        width: fit-content;
        border-radius: 20px;
        text-decoration: none;
        color: white;
    }
    
    .btn-about:hover {
        color: green;
    }

    .btn-container {
        margin-top: 30px;
    }
}

@media (min-width: 768px) {    
    .container-about {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        border-radius: 30px;
        padding: 0 50px;
    }
    
    .about {
        display: flex;
        align-items: center;
        flex: 1;
    }
    
    .content {
        padding: 30px;
        margin-top: 40px;
    }
    
    .image-about img {
        width: 100%;
        max-width: 370px;
        height: auto;
        border-radius: 15px;
    }
}

/*--------------------------------------------------------------
# Halaman About 
--------------------------------------------------------------*/
@media (min-width: 1200px) {
    .about-us-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 60px;
    }
    
    .about-us-container img {
        /* width: 40%; */
        height: 500px;
    }
    
    .about_content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    #goals {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

/*--------------------------------------------------------------
# Fitur Kami
--------------------------------------------------------------*/
@media (min-width: 320px) {
    #fitur {
        padding: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #DCFCE7;
    }
    
    .fitur-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    
    .section-header {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fitur-row {
        display: flex;
        flex-direction: column;
    }
    
    .fitur .fitur-box {
        margin-top: 50px;
        padding: 30px;
        box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
        text-align: center;
        transition: 0.3s;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        background-color: white;
    }
    
    .fitur .fitur-box img {
      padding: 30px 50px;
      transition: 0.5s;
      transform: scale(1.1);
    }
    
    .fitur .fitur-box h3 {
        font-size: 24px;
        color: #35CC33;
        font-weight: 700;
        margin-top: 20px;
    }
    
    .fitur .fitur-box:hover {
      box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    }
    
    .fitur .fitur-box:hover img {
      transform: scale(1);
    }

    .fitur-icon img {
        width: 60px;
        display: flex;
    }
    
    .fitur-icon {
        background-color: #DCFCE7;
        max-width: 100px;
        max-height: 100px;
        border-radius: 700px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 992px) {
    .fitur-row {
        display: flex;
        flex-direction: row;
        gap:30px;
    }

    .fitur-box:hover {
        background-color: green;
        color: white;
    }
}

/*--------------------------------------------------------------
# Halaman Donasi
--------------------------------------------------------------*/
#donate h2 {
    width: fit-content;
    /* display: flex; */
    margin-bottom: 40px;
}

#donate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    font-size: 14px;
    background: #2BA429;
}

#footer .footer-newsletter {
    padding: 50px 0;
    background: #f3f5fa;
    text-align: center;
    font-size: 15px;
    color: #444444;
}

#footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: black;
}

#footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    text-align: left;
}

#footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #2BA429;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
    background: #35CC33;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fff;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: black;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    color: #5e5e5e;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: black;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #35CC33;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #35CC33;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #2BA429;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #35CC33;
    color: #fff;
    text-decoration: none;
}

#footer .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}

#footer .copyright {
    float: left;
}

#footer .credits {
    float: right;
    font-size: 13px;
}

#footer .credits a {
    transition: 0.3s;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-bottom {display: flex;flex-direction: column;align-items: center;justify-content: center;gap: 10px;}

@media (max-width: 768px) {
    #footer .footer-bottom {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #footer .copyright{
        text-align: center;
        float: none;
    }
}