@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #35cc33;
}

h2 {
    position: relative;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}

h2:before {
    content: "";
    position: absolute;
    width: 70%;
    height: 0.5px;
    background-color: #ddd;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
}

h2:after {
    content: "";
    position: absolute;
    width: 30%;
    height: 4px;
    background-color: #35cc33;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

/*--------------------------------------------------------------
# NavBar
--------------------------------------------------------------*/

@media (min-width: 320px) {
    .hamburger {
        cursor: pointer;
    }

    .hamburger svg {
        width: 35px;
    }

    nav.nav-list {
        /* position: absolute; */
        margin: 0 auto;
        top: 0;
        left: 0;
        right: 0;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 99999;
        width: auto;
    }

    .close {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 9999999;
        cursor: pointer;
    }

    .close svg {
        width: 30px;
    }

    .top-menu {
        position: fixed;
        top: 0;
        right: -100vw;
        bottom: 0;
        background-color: #dcfce7;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        transition: 0.3s;
    }

    a.btn-rounded-full.bg-green {
        color: white;
    }

    a.btn-rounded-full.bg-green:hover {
        color: #35cc33;
    }

    .top-menu ul li {
        list-style-type: none;
        text-align: center;
        position: relative;
    }

    .top-menu ul li a.active:not(.btn-rounded-full) {
        color: #35cc33;
        font-weight: 600;
    }

    .top-menu ul li a:hover:not(.btn-rounded-full) {
        color: #35cc33;
    }

    .top-menu ul li a {
        color: black;
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        line-height: 40px;
    }

    .top-menu .btn-rounded-full {
        margin-top: 15px;
        display: inline-block;
    }

    .btn-rounded-full {
        padding: 3px 30px;
        border-radius: 8px;
    }

    .bg-green {
        background-color: #35cc33;
        transition: 0.3s;
    }

    .bg-green:hover {
        background-color: #dcfce7;
    }

    img {
        max-width: 100%;
    }

    .logo img {
        width: 120px;
    }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    nav.nav-list {
        width: auto;
        position: fixed;
        background-color: white;
        padding: 7px 60px 0;
        align-items: center;
    }

    .hamburger {
        display: none;
    }

    .top-menu {
        position: relative;
        right: 0;
        width: auto;
        background-color: transparent;
        display: inline-flex;
        align-items: center;
    }

    .top-menu ul li {
        display: inline-block;
        margin: 0 0 0 55px;
    }

    .close {
        display: none;
    }

    a.btn-rounded-full.bg-green {
        margin: 0;
        margin-left: 10px;
    }
}

@media (min-width: 1200px) {
    header.navbar-container {
        margin-bottom: 80px;
    }

    .logo img {
        width: 140px;
    }

    .top-menu ul {
        align-items: center;
        display: inline-flex;
    }

    a.btn-rounded-full.bg-green {
        margin: 0;
        margin-left: 10px;
    }
}

/* Dropdown Menu */
.nav-list .dropdown {
    position: relative;
}

.nav-list .dropdown > span {
    cursor: pointer;
}

.nav-list .dropdown > ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    list-style-type: none;
    padding: 10px 0;
    margin: 0;
}

.nav-list .dropdown > ul > li {
    margin: 0;
    width: 100%;
}

.nav-list .dropdown > ul > li > a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    white-space: nowrap;
}

.nav-list .dropdown > ul > li > a:hover {
    background-color: #f1f1f1;
}

/* Show dropdown menu on hover (desktop) */
@media (min-width: 992px) {
    .nav-list .dropdown:hover > ul {
        display: block;
    }
}

/* Dropdown menu for mobile */
@media (max-width: 991px) {
    .nav-list .dropdown.open > ul {
        display: block;
    }
}

/*--------------------------------------------------------------
# Coursel
--------------------------------------------------------------*/
.hero-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}

.slider {
    width: 100%;
    position: relative;
}

.list {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.item {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
}

.item img {
    width: 100%;
    opacity: 0.5;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.content-slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
}

.title {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-family: poppins;
    font-size: bold;
}

.type {
    font-size: 24px;
    margin-bottom: 20px;
}

.description {
    font-size: 18px;
    width: 60%;
    margin: auto;
    line-height: 1.5;
    margin-bottom: 20px;
}

.button a {
    background-color: #35cc33;
    border: none;
    color: #dcfce7;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button a:hover {
    background-color: #dcfce7;
    color: #35cc33;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 10px;
    color: white;
    font-size: 40px;
    cursor: pointer;
    z-index: 2;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    width: 100%;
    flex: 1 0 100%;
    position: relative;
}

.carousel-item img {
    width: 100%;
    display: block;
}

.carousel-caption {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.carousel-caption h5 {
    margin: 0;
    font-size: 24px;
}

.carousel-caption p {
    margin: 10px 0;
    font-size: 16px;
}

.carousel-caption .btn {
    background-color: #35cc33;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    padding: 10px;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

/* Responsive Carousel Caption */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-caption {
        bottom: 370px;
    }

    .carousel-caption p {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .carousel-caption {
        bottom: 125px;
    }

    .carousel-caption h5 {
        font-size: 17px;
    }

    .carousel-caption a {
        padding: 10px 15px;
        font-size: 15px;
    }

    .carousel-caption p {
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }
}

/*--------------------------------------------------------------
# Artikel Terbaru
--------------------------------------------------------------*/
@media (min-width: 320px) {
    #blog {
        padding: 50px 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 45px;
    }

    .blog-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .card-blog {
        flex: 1 1 calc(100% - 30px);
        border: 1px solid #ddd;
        box-sizing: border-box;
        border-radius: 20px;
        overflow: hidden;
        transition: transform 0.9s ease-out;
    }

    .card-blog article {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .post-description {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 20px;
    }

    .post-title {
        font-size: 1.2em;
        margin-bottom: 0.8em;
        flex-grow: 1;
        color: #000;
    }

    .card-blog:hover .post-title {
        color: #35cc33;
    }

    .post-date {
        font-size: 0.9em;
        color: #888;
        margin-bottom: 0.8em;
    }

    .readmore {
        margin-top: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;
        color: #35cc33;
    }

    .card-blog:hover .readmore {
        color: #2ba429;
    }

    .post-box {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .post-img {
        width: 100%;
        height: 220px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .post-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
    }

    .read-more {
        padding: 12px 30px;
        border: 2px solid #35cc33;
        background-color: white;
        color: #35cc33;
        text-decoration: none;
        font-weight: 500;
        transition: 0.3s;
    }

    .read-more:hover {
        background-color: #35cc33;
        color: white;
    }

    .read-more a {
        text-decoration: none;
        color: green;
        font-weight: 600;
    }
}

@media (min-width: 768px) {
    .card-blog {
        flex: 1 1 calc(33.333% - 30px);
        display: flex;
        flex-direction: column;
        border: 1px solid #ddd;
        box-sizing: border-box;
        border-radius: 20px;
        overflow: hidden;
        cursor: pointer;
        transition: 0.3s;
    }

    .card-blog:hover .post-img img {
        transform: scale(1.2);
    }
}

/*--------------------------------------------------------------
  # Breadcrumbs - Halaman Blog
  --------------------------------------------------------------*/
.breadcrumbs {
    padding: 15px 0;
    background: #2ba429;
    min-height: 40px;
    margin-top: 82px;
    color: #fff;
}

@media (max-width: 992px) {
    .breadcrumbs {
        margin-top: 57px;
    }
}

.breadcrumbs h3 {
    font-size: 28px;
    font-weight: 500;
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumbs ol a {
    color: #fff;
    transition: 0.3s;
}

.breadcrumbs ol a:hover {
    text-decoration: underline;
}

.breadcrumbs ol li + li {
    padding-left: 10px;
}

.breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #8894f6;
    content: "/";
}

/*--------------------------------------------------------------
# Halaman Informasi
--------------------------------------------------------------*/
.filter-row {
    display: block;
    height: fit-content;
    margin-bottom: 30px;
}

.filter-row .filter-label.active p {
    background-color: #35cc33;
    padding: 5px 20;
    border-radius: 30px;
    color: white;
}

.filter-row .filter-label p {
    display: inline;
    width: 100%;
    padding: 5px 20px;
    border-radius: 30px;
    color: black;
}

.filter-row .filter-label p:hover {
    background-color: #35cc33;
    padding: 5px 20px;
    border-radius: 30px;
    color: white;
}

.information .post-box {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
    height: 100%;
    overflow: hidden;
    padding: 30px;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.information .post-box .post-img {
    overflow: hidden;
    margin: -30px -30px 15px -30px;
    position: relative;
    width: auto;
}

.col-lg-4 {
    margin-bottom: 30px;
}

.information .post-box .post-img img {
    transition: 0.5s;
}

.information .post-box .post-date {
    font-size: 14px;
    font-weight: 500;
    color: #2ba429;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.information .post-box .post-title {
    font-size: 22px;
    color: #2ba429;
    font-weight: 600;
    margin-bottom: 18px;
    position: relative;
    transition: 0.3s;
}

.label {
    padding: 2px 15px;
    border: 1px solid #35cc33;
    border-radius: 8px;
    color: #35cc33;
}

.information .post-box .readmore {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
}

.information .post-box .readmore i {
    line-height: 0;
    margin-left: 4px;
    font-size: 18px;
}

.information .post-box:hover .post-title {
    color: #35cc33;
}

.information .post-box:hover .label {
    background-color: #35cc33;
    color: white;
    border: none;
}

.information .post-box:hover .post-img img {
    transform: rotate(6deg) scale(1.2);
}

.information .info-pagination {
    color: #024ed5;
}

.information .info-pagination ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.information .info-pagination li {
    margin: 0 5px;
    transition: 0.3s;
}

.information .info-pagination li a {
    color: #2ba429;
    padding: 7px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information .info-pagination li.active,
.information .info-pagination li:hover {
    background: #35cc33;
}

.information .info-pagination li.active a,
.information .info-pagination li:hover a {
    color: #fff;
}

/*--------------------------------------------------------------
# Halaman Blog
--------------------------------------------------------------*/
.blog {
    padding: 40px 0 20px 0;
}

.blog .entry {
    padding: 30px;
    margin-bottom: 60px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .entry .entry-img {
    max-height: 440px;
    margin: -30px -30px 20px -30px;
    overflow: hidden;
}

.blog .entry .entry-title {
    font-size: 28px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 20px 0;
    color: #2ba429;
}

.blog .entry .entry-title a {
    color: #2ba429;
    transition: 0.3s;
}

.blog .entry .entry-title a:hover {
    color: #35cc33;
}

.blog .entry .entry-meta {
    margin-bottom: 15px;
    color: #2ba429;
}

.blog .entry .entry-meta ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

.blog .entry .entry-meta ul li + li {
    padding-left: 20px;
}

.blog .entry .entry-meta i {
    font-size: 16px;
    margin-right: 8px;
    line-height: 0;
}

.blog .entry .entry-meta a {
    color: #777777;
    font-size: 14px;
    display: inline-block;
    line-height: 1;
}

.blog .entry .entry-content p {
    line-height: 24px;
}

.blog .entry .entry-content .read-more {
    -moz-text-align-last: right;
    text-align-last: right;
}

.blog .entry .entry-content .read-more a {
    display: inline-block;
    background: #4154f1;
    color: #fff;
    padding: 6px 20px;
    transition: 0.3s;
    font-size: 14px;
    border-radius: 4px;
}

.blog .entry .entry-content .read-more a:hover {
    background: #5969f3;
}

.blog .entry .entry-content h3 {
    font-size: 22px;
    margin-top: 30px;
    font-weight: bold;
}

.blog .entry .entry-content blockquote {
    overflow: hidden;
    background-color: #fafafa;
    padding: 60px;
    position: relative;
    text-align: center;
    margin: 20px 0;
}

.blog .entry .entry-content blockquote p {
    color: #444444;
    line-height: 1.6;
    margin-bottom: 0;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
}

.blog .entry .entry-content blockquote::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #012970;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog .entry .entry-footer {
    padding-top: 10px;
    border-top: 1px solid #e6e6e6;
}

.blog .entry .entry-footer i {
    color: #2ba429;
    display: inline;
}

.blog .entry .entry-footer a {
    color: #2ba429;
    transition: 0.3s;
}

.blog .entry .entry-footer a:hover {
    color: #35cc33;
}

.blog .entry .entry-footer .cats {
    list-style: none;
    display: inline;
    padding: 0 20px 0 0;
    font-size: 14px;
}

.blog .entry .entry-footer .cats li {
    display: inline-block;
}

.blog .entry .entry-footer {
    list-style: none;
    display: inline;
    padding: 0;
    font-size: 14px;
}

.blog .entry .entry-footer li {
    display: inline-block;
}

.blog .entry .entry-footer li + li::before {
    padding-right: 6px;
    color: #6c757d;
    content: ",";
}

.blog .entry .entry-footer .share {
    font-size: 16px;
}

.blog .entry .entry-footer .share i {
    padding-left: 5px;
}

.blog .entry-single {
    margin-bottom: 30px;
}

.blog .blog-pagination {
    color: #024ed5;
}

.blog .blog-pagination ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.blog .blog-pagination li {
    margin: 0 5px;
    transition: 0.3s;
}

.blog .blog-pagination li a {
    color: #2ba429;
    padding: 7px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog .blog-pagination li.active,
.blog .blog-pagination li:hover {
    background: #35cc33;
}

.blog .blog-pagination li.active a,
.blog .blog-pagination li:hover a {
    color: #fff;
}

.blog .sidebar {
    padding: 30px;
    margin: 0 0 60px 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .sidebar .sidebar-title {
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 0 0;
    margin: 0 0 15px 0;
    color: #2ba429;
    position: relative;
}

.blog .sidebar .sidebar-item {
    margin-bottom: 30px;
}

.blog .sidebar .search-form form {
    background: #fff;
    border: 1px solid #ddd;
    padding: 3px 10px;
    position: relative;
}

.blog .sidebar .search-form form input[type="text"] {
    border: 0;
    padding: 4px;
    border-radius: 4px;
    width: calc(100% - 40px);
}

.blog .sidebar .search-form form button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 15px;
    margin: -1px;
    background: #35cc33;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    line-height: 0;
}

.blog .sidebar .search-form form button i {
    line-height: 0;
}

.blog .sidebar .search-form form button:hover {
    background: #dcfce7;
    color: #35cc33;
}

.blog .sidebar .categories ul {
    list-style: none;
    padding: 0;
}

.blog .sidebar .categories ul li + li {
    padding-top: 10px;
}

.blog .sidebar .categories ul a {
    color: #35cc33;
    transition: 0.3s;
}

.blog .sidebar .categories ul a:hover {
    color: #2ba429;
}

.blog .sidebar .categories ul a span {
    padding-left: 5px;
    color: #aaaaaa;
    font-size: 14px;
}

.blog .sidebar .recent-posts .post-item + .post-item {
    margin-top: 15px;
}

.blog .sidebar .recent-posts img {
    width: 80px;
    float: left;
}

.blog .sidebar .recent-posts h4 {
    font-size: 15px;
    margin-left: 95px;
    font-weight: bold;
}

.blog .sidebar .recent-posts h4 a {
    color: #35cc33;
    transition: 0.3s;
}

.blog .sidebar .recent-posts h4 a:hover {
    color: #2ba429;
}

.blog .sidebar .recent-posts time {
    display: block;
    margin-left: 95px;
    font-style: italic;
    font-size: 14px;
    color: #aaaaaa;
}

.blog .sidebar .tags {
    margin-bottom: -10px;
}

.blog .sidebar .tags ul {
    list-style: none;
    padding: 0;
}

.blog .sidebar .tags ul li {
    display: inline-block;
}

.blog .sidebar .tags ul a {
    color: #0257ee;
    font-size: 14px;
    padding: 6px 14px;
    margin: 0 6px 8px 0;
    border: 1px solid #d7e6ff;
    display: inline-block;
    transition: 0.3s;
}

.blog .sidebar .tags ul a:hover {
    color: #fff;
    border: 1px solid #4154f1;
    background: #4154f1;
}

.blog .sidebar .tags ul a span {
    padding-left: 5px;
    color: #a5c5fe;
    font-size: 14px;
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
#about {
    min-width: 100%;
}

@media (min-width: 320px) {
    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 40px;
    }

    .container-about {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 40px;
        align-items: center;
        justify-content: center;
    }

    .btn-about {
        padding: 10px 20px;
        width: fit-content;
        border-radius: 20px;
        text-decoration: none;
        color: white;
    }

    .btn-about:hover {
        color: green;
    }

    .btn-container {
        margin-top: 30px;
    }
}

.content {
    padding: 20px;
    margin-top: 40px;
}

.wrapper-text {
    margin: 20px auto;
}

.lead {
    text-align: justify;
    line-height: 150%;
    font-size: 1.1rem;
}

.image-about {
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container-about {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        align-items: center;
        padding: 0 50px;
        margin-top: -20px;
    }

    .about {
        display: flex;
        align-items: center;
        flex: 1;
        /* padding-top: 10px; */
    }

    .content {
        padding: 30px;
        margin-top: 40px;
    }

    .image-about img {
        width: 100%;
        max-width: 370px;
        height: auto;
        border-radius: 15px;
    }
}

/*--------------------------------------------------------------
# Fitur Kami
--------------------------------------------------------------*/
@media (min-width: 320px) {
    #fitur {
        padding: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #dcfce7;
    }

    .fitur-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .section-header {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .fitur-row {
        display: flex;
        flex-direction: column;
    }

    .fitur .fitur-box {
        margin-top: 50px;
        max-width: 300px;
        padding: 30px;
        box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
        text-align: center;
        transition: 0.3s;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        background-color: white;
    }

    .fitur .fitur-box img {
        /* padding: 10px; */
        transition: 0.5s;
        transform: scale(1.1);
    }

    .fitur-content h3 {
        font-size: 24px;
        color: #35cc33;
        font-weight: 700;
        margin-top: 20px;
        height: 60px;
    }

    .fitur .fitur-box:hover {
        box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    }

    .fitur .fitur-box:hover img {
        transform: scale(1);
    }

    .fitur-icon img {
        width: 60px;
        display: flex;
    }

    .fitur-icon {
        background-color: #dcfce7;
        width: 90px;
        height: 90px;
        border-radius: 700px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 992px) {
    .fitur-row {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .fitur-box:hover {
        background-color: green;
        color: white;
    }
}

/*--------------------------------------------------------------
# Halaman Donasi
--------------------------------------------------------------*/
#donate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.term-condition {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px 50px;
}

.card-tnc {
    display: flex;
    align-items: center;
    flex: 0 0 calc(50% - 1rem);
    /* 50% lebar minus margin untuk spasi antar elemen */
    margin: 0.5rem;
    /* spasi antar elemen */
    box-sizing: border-box;
    /* untuk memastikan padding dan border disertakan dalam lebar/tinggi elemen */
    align-items: center;
    gap: 20px;
    padding: 0 40px;
}

.card-tnc img {
    width: 150px;
}

.desc {
    text-align: justify;
}

#benefit {
    padding: 60px 20px;
    background: #dcfce7;
    width: 100%;
}

.benefit-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.benefit-header {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-header p {
    font-size: 18px;
    color: #666;
}

.benefit-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.benefit-col {
    flex: 1;
    min-width: 300px;
}

.img-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.benefit-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
    margin: auto;
}

.benefit-item {
    display: flex;
    justify-content: center;
    width: 280px;
    height: 85px;
}

.benefit-box {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
}

.benefit-box i {
    font-size: 24px;
    color: green;
    margin-right: 15px;
}

.benefit-box h3 {
    font-size: 18px;
    margin: 0;
}

/* Formulir Donasi */
#donation-form {
    padding: 60px 20px;
    background: #fff;
}

.form-wrapper {
    min-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.formulir-header {
    text-align: center;
    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group > button {
    margin-top: 40px;
}

.btn-submit {
    display: block;
    width: 100%;
    padding: 10px;
    background: #35cc33;
    color: #fff;
    border: none;
    border-radius: 35px;
    font-size: 16px;
    cursor: pointer;
}

input, textarea {
    padding: 10px;
}

#error {
    margin: -20px 0 10px 0;
}

/* Modal CSS */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    text-align: center;
    display: block;
}

.tutup {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 0;
}

.tutup:hover,
.tutup:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn-close {
    width: fit-content;
    padding: 6px 30px 15px;
    background: #35cc33;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.btn-close:hover {
    background: #35cc33;
    color: white;
}

/*--------------------------------------------------------------
# Lokasi
--------------------------------------------------------------*/
#lokasi {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 60px;
}

#lokasi h2 {
    width: fit-content;
}

.maps {
    width: 100%;
}

/*--------------------------------------------------------------
# CTA
--------------------------------------------------------------*/
.cta-section {
    position: relative;
    /* padding: 20px 0; */
    /* padding: 60px 20px; */
    background: url(/assets/img/coursel1.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
}

.cta-content {
    /* max-width: 800px; */
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    width: fit-content;
}

.cta-section p {
    font-size: 18px;
    margin-bottom: 30px;
    width: 500px;
}

.btn-cta {
    display: inline-block;
    padding: 12px 30px;
    background-color: #28a745;
    /* Green color */
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    font-size: 16px;
}

.btn-cta:hover {
    background-color: #218838;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    font-size: 14px;
    background: #2ba429;
}

#footer .footer-newsletter {
    padding: 50px 0;
    background: #f3f5fa;
    text-align: center;
    font-size: 15px;
    color: #444444;
}

#footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: #000;
}

#footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #2ba429;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
    background: #35cc33;
}

#footer .footer-top {
    padding: 40px 0 0;
    background: #f6fef6;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 600;
    color: #000;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    color: #000;
    width: 400px;
    text-align: justify;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: black;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #35cc33;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #000;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #35cc33;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #2ba429;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #35cc33;
    color: #fff;
    text-decoration: none;
}

#footer .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}

#footer .copyright {
    float: left;
}

#footer .credits {
    float: right;
    font-size: 13px;
}

#footer .credits a {
    transition: 0.3s;
}

.row {
    display: flex;
    /* justify-content: left; */
    margin-bottom: 30px;
}

.footer-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 768px) {
    #footer .footer-bottom {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #footer .copyright {
        text-align: center;
        float: none;
    }
}
